@import "mixins";

.error {
  border: 1px #f00;
  background-color: #fdd;

  &--serious {
    @extend .error;
    border-width: 3px;
  }
}

$colors-list: #111 #222 #333 #444 #555;
@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);
  .stuff-#{$i} { 
    // position:relative;
    // display:block;
    // margin-bottom:15px;
    // width:100px;
    // // background:rgba(255, 255, 255, .9);
    // height:35px;
    // border-radius:3px;
    // transition:0.4s linear;
    // transition-property:width, background-color;
    // color: $current-color;
    // background-color: $current-color;
    color: $current-color;
    transition: 1s;
    background: white;
  }
}

.before {
  color: black;
  background-color: white;
  width: 100px;
}

.active {
  // color: red;
  background-color: red;
  width: 200px;
  transition: 1s;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include sans-serif-font;
}

.App {
  text-align: center;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:12px;
  height:35px;
  line-height:35px;
  color:rgba(0, 0, 0, 1);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:0px;
  font-size:12px;
  font-weight:bold;
  // color:#ffffff;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  // font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.skillbar-title span {
  display:block;
  width: 200px;
  padding:0 10px;
  height:35px;
  line-height:35px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  color:rgba(0, 0, 0, 1);
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:rgba(255, 255, 255, .9);
  height:35px;
  border-radius:3px;
  transition:0.4s linear;
  transition-property:width, background-color;
}

.App-logo {
  height: 40vmin;
  pointer-events: none; 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

