@import "mixins";

h1,
h2,
h3,
h4,
h5,
h6 {
  @include github-md-font;
  color: rgba(255, 255, 255, .9);
  margin-top: 0%;
  margin-bottom: 0%;
}

h1 {
  font-size: 1000%;
}

a {
  color: #FFF;
}

.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:12px;
  height:35px;
  line-height:35px;
  color:rgba(255, 255, 255, .9);
  visibility: hidden;
  // background);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  // @include sans-serif-font;

}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:10px;
  font-size:12px;
  font-weight:bold;
  // color:#ffffff;
  // border-top-left-radius:3px;
  // border-bottom-left-radius:3px;
  border-radius: 6px;
  // font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.skillbar-title span {
  display:block;
  width: 200px;
  padding:0 10px;
  height:35px;
  line-height:35px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
  color:rgba(0, 0, 0, 1);
}

.skillbar {
  position:relative;
  display:block;
  width: 100%;
  margin-bottom:15px;
  background:rgba(255, 255, 255, .9);
  height:35px;
  border-radius:6px;
}

// $navbar-padding-y: 20px;

// .navbar-brand-big {
//   font-size: 40px !important;
// }

.navfragment {
  color: rgba(0,0,0,.5);
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  background-color: transparent;
}

.nathen {
  color: #6c757d!important;
  font-weight: 700;
}

// .nathen:hover {
//   color: black!important;
//   transition: 0.15s linear;
// }

.navlink {
  color:rgba(0,0,0,.5);
}

.navlink:hover {
  color: rgba(0, 0, 0, 1);
  transition: 0.15s linear;
}

div.dark {
  background-color: transparent;
}

.dark .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.dark .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23888' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

// credit to https://stackoverflow.com/questions/47122852/change-color-of-svg-background-image-bootstrap-4-carousel

.carousel-indicators li {
  background-color: #888;
}

.project-title {
  color: white;
}

.project-link {
  color:white;
  opacity: 0.6;
  text-decoration: none;
}

.project-link:hover {
  opacity: 1.0;
}

hr {
  color: white;
  margin-top: 8px;
  margin-bottom: 8px;
  border-top-color: rgba(255, 255, 255, .4);
}

.project-text {
  color: rgba(255, 255, 255, .6);
}

.project-title {
  color: white;
  opacity: 0.8;
}

.project-title:hover {
  opacity: 1.0;
}

.document-link {
  color: rgba(255, 255, 255, .8);
  display: inline-block;
  text-decoration-color: rgba($color: white, $alpha: 0.6);
  // text-decoration: rgba(255, 255, 255, .9);
}

.document-link:hover {
  color: rgba(255, 255, 255, 1.0);
  text-decoration-color: rgba($color: white, $alpha: 1.0);
}

p.light {
  color: rgba(255, 255, 255, .6);
  margin-bottom: 2px;
}